i {
    font-size: 50px;
    margin: 0px 0px 0px 24px;
}

.bi-instagram {
    color: crimson;
}

.bi-snapchat {
    color: yellow;
}

.bi-youtube{
    color: crimson;
}

.bi-facebook {
    color: dodgerblue;
}

.bi-twitter {
    color: dodgerblue;
}