body {
    background: url(../images/back.jpg) no-repeat center;
    margin: 0;
    height: 99vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    display: flex;
}

.image-container {
    display: flex;
    background-color: #ffff;
    width: 800px;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 15px grey;
}

h2 {
    color: rgb(92, 80, 80);
    text-transform: uppercase;
}

.fields-image {
    width: 50%;
    margin-left: 100px;
}

.info-image {
    width: 50%; 
}

img {
    height: 100%;
    width: 120%;
}

.signup {
    color: #fc4482;
}

.vid {
    margin-left: 25px;
}

.bi-facebook {
    color: #fc4482;
    padding: 10px;
    border-radius: 30px;
    font-size: 30px;
}

.bi-twitter {
    color: grey;
    padding: 10px;
    border-radius: 30px;
    font-size: 30px;
}

.bi-instagram {
    color: grey;
    padding: 10px;
    border-radius: 30px;
    font-size: 30px;
}


.link {
    padding: 3px 90px;
    color: #ffff;
    background-color: #fc4482;
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
}

h3 {
    color: grey;
    font-size: 19px;
    font-family: sans-serif;
}

.line {
    width: 50px;
    display: inline-block;
    border: 2px solid #fc4482;
}

.username {
    border-radius: 20px;
    height: 30px;
}
