body {
    margin: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.image-container {
    display: flex;
    justify-content: center;
}

img {
    height: 355px;
    width: 650px;
}

h1 {

}

h3 {
    font-size: 25px;
    text-transform: capitalize;
    font-family: ;
}

.netflix {
    margin-left: 20px;
}

.alexa {
    height: 80px;
    width: 150px;
}

.nancy {
    height: 90px;
    width: 150px;
}

.blue {
    height: 80px;
    width: 150px;
}

.california{
    height: 80px;
    width: 150px;
}

.text-content {
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 20px;
}

